.custom-tooltip {
    background-color: #04838F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: lighter;
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    background-color: #04838F !important;
    color: white !important;
    box-shadow: none !important;
}

::ng-deep .ngx-charts-tooltip-content .tooltip-caret.position-top {
    border-top-color: #04838F !important;
}

::ng-deep {
    .ngx-charts text {
        font-size: 20px;
        font-family: 'Montserrat';
    }
}

.fas.fa-medal {
    font-size: 80%;
}