<H2 class="h2Title">Medals per Country</H2>
<div class="chartDiv">
    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
        [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        <ng-template #tooltipTemplate let-model="model">
            <div class="custom-tooltip">
                {{ model.name }}<br> <i class="fas fa-medal"></i> {{ model.value }}
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>
